* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 214, 219);
   
}

.container {
    width: 100%;
    /* margin: 0 auto; */
    height: 100vh;
    padding: 0.5rem;

}

h1 {
    text-align: center;
}

.bandas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.banda {
    align-content: center;
    text-align: center;
    background-color: grey;
}

.banda img {
    max-width: 100%;
    height: auto;

}

.containerdev {
    display: flex;
    align-items: center;
    padding: 50px 10px;
}

.containerdev img {
    margin-right: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.Formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 2rem;
    width: 700px;
    height: 300px;



}

.Assinar {
    text-decoration: none;
    padding: 1rem;
    background-color: aquamarine;
    color: black;
    /* width: 50px; */

}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding: 2rem;
    background-color: blueviolet;
    margin-top: 2rem;

}

footer ul {
    list-style: none;
    display: flex;


}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.superior {
    width: 500px;
}
.navibar {
    padding: 15px ;
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 51, 47);
    color: white;
    /* height: 80px; */
    align-items: center;

}
.detalhes {
    display: flex;
    align-items: center;

}
.detalhes img{
    width: auto;
    height: 45px;
    margin-left: 5px;


}
.lista {
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.lista a {
    color: white;
    text-decoration: none;
}
.container h1 {
    color: rgb(39, 36, 36);
}